<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Player Entry</title>
        <link href="static/style.css" rel="stylesheet">
    </head>

    <body>
        
        <div id="page-header">
            <h1>Player Entry</h1>
        </div>

        <div id="network-container">
            <label for="network-address">Network Address:</label>
            <input id="network-address" type="text" value="127.0.0.1">
        </div>

        <div id="central-container">

            <div id="team-container_red">

                <div id="team-header_red">
                    <h2>Red Team</h2>
                </div>

                <div class="vertical-flex" id="player-container_red">
                    <!-- player input blocks appear here -->
                </div>

            </div>

            <div id="team-container_green">

                <div id="team-header_green">
                    <h2>Green Team</h2>
                </div>

                <div class="vertical-flex" id="player-container_green">
                    <!-- player input blocks appear here -->
                </div>

            </div>
        
        </div>

        <div id="page-footer">
            <input id="debug-button" type="button" value="Debug">
        </div>

        <script src="static/entry-screen.js"></script>
        
    </body>

</html>
